.all {
}
.text {
  text-align: center;
  font-family: var(--fontFamilyCormorant);
  font-size: 20px;
  line-height: 24.2px;
  padding: 70px 50px 20px 50px;
}
.icon {
  padding-top: 20px;
  width: 21px;
}
