:root {
  --fontSize: 16px;
  --line-height: 26px;
  --app-height: 100vh;
  --minWidth: 375px;
  --maxWidthContainer: 1184px;

  --fontFamilyCormorant: 'Roboto';
  --fontFamilyClickerScript: 'Roboto';
  --fontFamilyMontserrat: 'Roboto';

  --text-main: #141718;
  --text-white: #fff;
  --elements-white: #fff;
  --bg-main: #4f4f4f;
  --bg-footer: #141718;
  --neutral-04100: #6c7275;
  --neutral-07100: #141718;
  --neutral-07100-shadow: #14171860;
  --neutral-03100: #e8ecef;
  --neutral-02100: #f3f5f7;
  --blue: #377dff;
  --neutral-01100: #fefefe;
  --neutral-0450: rgba(108, 114, 117, 0.5);
  --neutrals-2: #23262f;
  --black-000: #000;
  --black-900: #121212;
  --black-600: #605f5f;
  --neutral-05100: #343839;
  --green: #38cb89;
  --neutrals-8: #fcfcfd;
  --black-500: #807e7e;
  --black-300: #cbcbcb;
  --backgroundIneriorSolutions: #f3f5f7;
  --neutrals-5: #b1b5c3;
  --black-200: #eaeaea;
}
